<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link href="https://fonts.googleapis.com/css?family=Poppins|Pompiere|Amiko|Rambla|Montserrat" rel="stylesheet">
        <link rel="stylesheet" href= "{{ url_for('static', filename='./login.css')}}">
        <!-- {{ url_for('static', filename='./login.css') }}           -->
    </head>
    <body>

      <section class="nav-section">
        <nav>
            <div class="nav-heading">
                <!-- <i class="fa-solid fa-headset"></i> -->
                <span class="talk-heading">PyXiS</span>
            </div>
            <!-- <ul class="nav-list">
            <li class="nav-content">Home</li>
            <li class="nav-content">Play Now</li>
            <li class="nav-content">Lorem Ipsum</li>
            <li class="nav-content">Lorem Ipsum</li>
            <li class="nav-content">Contact Us</li>
            </ul> -->
        </nav>
    </section>
</br>
</br>
    <div class="grid mb-6">
  
        <!-- user's CAN'T select text -->
        <a href="{{url_for('aadhar')}}" title="AAdhar" aria-label="Some quick example text to build on the card title and make up the bulk of the card's content." class="card card-clickable" style="text-decoration: none;">
          <div class="card-body">
            <h2 class="h5 card-title">AADHAR Details</h2>
            <p class="card-text"><img src="{{ url_for('static', filename='./aadhar-card.jpg')}}" width="500"></p>
          </div>
        </a>
        <p></p>
        <a href="#" title="CCTV" aria-label="Some quick example text to build on the card title and make up the bulk of the card's content." class="card card-clickable" style="text-decoration: none;">
            <div class="card-body">
              <h2 class="h5 card-title">CCTV Searching</h2>
              <p class="card-text"> <img src="{{ url_for('static', filename='./cctv.jpg')}}" width="400" ></p>
            </div>
          </a>
        
      